.vs/
*.o
*.s
*.i
*.a
*.so
ARM/
ARM64/
Win32/
t1ha-dll.VC.db
t1ha-static.VC.db
t1ha-test.VC.db
t1ha.VC.VC.opendb
t1ha.VC.db
t1ha.config
t1ha.creator.user
t1ha.includes
t1ha0_ia32aes_avx.bc
t1ha0_ia32aes_noavx.bc
test
x64/
